
.vs/TP2REAL/v16/Server/sqlite3/storage.ide-wal
.vs/TP2REAL/v16/Server/sqlite3/storage.ide-shm
.vs/TP2REAL/v16/Server/sqlite3/storage.ide
.vs/TP2REAL/v16/.suo
.vs/TP2REAL/DesignTimeBuild/.dtbcache
.vs/TP2REAL/v16/.suo
.vs/TP2REAL/DesignTimeBuild/.dtbcache
